body {
    color:Black;
    background-color:seashell;
    font-size:1.5em;
    font-weight:light;
    font-family: sans-serif;
    width: fit-content;
    margin: 0 10%;
}


h1 {
    color: Black;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid blue;
    margin-top: 30px;
    Font-size:2em;
    Font-family:sans-serif;
}

h2 {
    color: red;
}

h3 {
    text-align:center;
    color: red;
}

div#content{
    display: flex;
  
    justify-content: space-between;  
     
    
}

div#learnmore {
    display: flex;
    width:fit-content

}


p.Contact {
    text-align:center;
    margin:0.5;
    font-size: xx-large;
}
p.BeginnerProgram {
    font-family:sans-serif;
    text-align:center;
}

p.title {
    font-size:x-large;
    font-style:arial black;
}

p.WhyLearn {
    text-align:center;
}

p.intro {
    text-align:right;
}

div.bottom {
    display:flex;
  width:fit-content;
  height:max-content;
  border:0.2em royalblue dotted;
  justify-content: left;
  background-color: lightblue !important;

}


img#image1 {
    float:right;
    width:400;
    height:400;
    margin:2em
}

img#image2 {
    float:right;
    width:300;
    height:400;
    margin:1em

}

img#image3 {
    float:right;
    width:250;
    height:500;
    margin:1em
}

img#image4 {
    float:left;
    width:300;
    height:300;
    margin:1em
}


img#image6 {
    float:left;
    width: 300;
    height:300;
    margin:1em
}

img#image7 {
    float:right;
    width:400;
    height:300;
    margin: 0.5em;
}

img#image8 {
    float:left;
    width: 300px;
    height:450px;
    margin: 0.5em;

}

img#image9 {
    float:left;
    width:400;
    height: 400;
    margin: 0.5em;
}

img#image10 {
    float:right;
    width: 300;
    height: 450;
    margin:0.5em;
}

img#image11 {
    float:right;
    width:400;
    height:400;
    margin:0.5em;
}

img#image12 {
    float:right;
    width:400;
    height:400;
    margin: 0.2em
}

